@media all {
#header, #TOC, .section.level1 {
  height: 6.75in;
  width: 10.5in;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  padding: 0.25in;
}

#TOC, .section.level1,
.section.level1.one,
.section.level1.one-half {
  padding-left: 111mm;
  padding-top: 0.5in;
  page-break-before: always;
}

.section.level1.one-half {
  padding-top: 3.25in;
}

.section.level1.two {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;
}

.section.level1.chart {
  padding-top: 3.25in;
  padding-left: 1in;
  padding-right: 6.75in;
}
/** **/

.two .section.level2, .two-half .section.level2 {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  left: 183.5mm;
  top: 0.5in;
  width: 2.625in;
  margin: 0;
  padding-right: 0.125in;
  padding-top: 0.125in;
  border-width: 0;
  border-top-width: 2px;
  border-style: solid;
}

.two h1+.section.level2, .two-half h1+.section.level2 {
  left: 111mm;
}

.two-half .section.level2 {
  padding-top: 79mm;
}

/** **/

h1 {
position: absolute;
-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
left: 0.25in;
top: 0.5in;
padding-top: 0.25in;
padding-right: 0.25in;
margin: 0;
width: 3.625in;
border-top-width: 2px;
border-style: solid;
border-bottom-width: 0;
border-left-width: 0;
border-right-width: 0;
}

p {
margin:0;
padding-bottom: 1em;
}

ul {
}

li {
}

hr {
display:none;
}

.bar, .references {
    border-style: none;
    border-top-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 0px;
    padding-right: 0.25in;
}

.references {
padding-top: 0.25in;
}


pre.source:before {
  content: "Source: ";
}

pre.source {
  position:absolute;
  left: 0.25in;
  bottom: 0.25in;
}

.one-half blockquote, .two-half blockquote {
position: absolute;
left: 0.25in;
width:1.75in;
top: 3.25in;
}

.one-half blockquote p, .two-half blockquote p {
padding-top:1em;
padding-right:0.125in;
}

.figure {
    position: absolute;
    top: 0.5in;
    width: 5.75in;
    border-style: none;
    border-top-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 0px;
    padding-top: 0.25in;
}

.chart .figure {
    height: 141mm;
    left: 111mm;
}

.one .figure {
left: 1in;
top: 2.25in;
width: 3.5in;
height: 3.25in;
border: none;
}

.two .figure {
left: -3.5in;
top: 1.25in;
width: 6.5in;
height: 4.25in;
border: none;
}

.figure img {
    max-width: 100%;
    max-height: 100%;
}


/*****/

h1.title {
position: absolute;
left: 0.25in;
width: 6in;
top: 0.25in;
border-style: none;
}

h2.author, h3.date {
position: absolute;
bottom: 0.75in;
width: 1.6in;
vertical-align: bottom;
text-align: right;
}

h2.author {
right: 0.5in;
}

h3.date {
right: 2.375in;
}

/* chapter slide */
.chapter > ul {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  left: 145mm;
  bottom: 0.25in;
  width: 4.625in;
  margin: 0;
  padding-right: 0.125in;
  padding-top: 0.125in;
  border-width: 0;
  /* border-top-width: 2px;
  border-style: solid;  */
}


.chapter h1{
position: absolute;
left: 0.25in;
width: 6in;
top: 3.25in;
border-style: none;
}

.chapter p, .chapter ul {
margin: 0;
}

.chapter p:first-child {
border-top-width: 0.5px;
border-top-style: solid;
border-top-color: black;
padding-top: 10px;
}

#TOC > ul:before {
	content: "Table of Contents";
	font-size: large;
}
}

@media screen{
div#TOC, div#header, div.level1 {
outline-style: solid;
outline-color: lightgrey;
outline-width:1px;
margin-top: 3px;
}
}

@page {
margin: 1cm;
}
